<h2 [innerHTML]="hero.name | uppercase"></h2>
<div><span>id: </span>{{ hero.id }}</div>
<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" type="text" placeholder="name" />
</div>

<!--
  Hero Editor / Summary
  * used the CLI to create a second HeroesComponent
  * displayed the HeroesComponent by adding it to the AppComponent shell
  * applied the uppercase pipe to format the name
  * used two-way data binding with the ngModel directive
  * learned about the AppModule
  * imported the FormsModule in the AppModule so that Angular would recognize and  
    apply the ngModel directive
  * learned the importance of declaring components in the AppModule and appreciated 
    that the CLI declared it for you
-->
